* {
    padding:0;
    margin:0;
    text-decoration: none;
    box-sizing: border-box;
    background-color:transparent;
    color:black;
}
@page {
    margin: 15mm 20mm;
    size: A4 portrait;
}
h2,h3,.contacts__logo {
    page-break-inside:avoid;
}

.flex{
    display:flex;
    flex-wrap: wrap;
}
.justify_center {
    justify-content: center;
}
.align_items_center{
    align-items: center;
}
/*...............header.....................*/
.nav{
    display:none;
}

.contacts{
    min-height:60px;
    font-family: Rubik;
}
.contacts__logo{
    margin-right: 150px;
}
.contacts__phones{
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}
.contacts__information, .contacts__customer-block{
   display:none;
}
.menu{
    display:none;
}

/*........................ main............................*/
/*section banner*/
.banner{
    flex-direction: column;
    width:100%;
    max-height:300px;
}
.banner__picture{
    display:none;
}

.banner__block{
    max-width:463px;
    max-height:257px;
    border-radius:10px;
    padding:15px 50px 15px 50px;
    border:1px solid #444444;
    margin: 20px 0;
}

.banner__block p, .banner__block img{
    display:none;
}

.banner__p{
    font-family: Cormorant Garamond;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
}

.banner__box{
    display:none;
}

.banner__5circles{
    display:none;
}

/* section delivery-menu*/
.delivery-menu{
    display:none;
}


/* section flowers-centers*/
.flowers-centers{
    flex-direction:column;
    border-bottom:1px solid #ebe6e6;
}
.flowers-centers__p{
    font-family: Cormorant Garamond;
    font-size: 22px;
    font-weight: 700;
    margin-top:10px;
    text-align:center;
}
.flowers-centers__row{
    margin-top: 20px;
    margin-bottom:20px;
}
.flowers-centers__box{
    max-width:200px;
    margin-left:30px;
}
.flowers-centers__box p{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    padding:8px 0 8px 0;
    height:30px;
}
.flowers-centers__box a{
    color: black;
}

/* section Clients*/
.clients{
    flex-direction:column;
    padding:20px 10px 20px 10px;
    border-bottom:1px solid #ebe6e6;
}
.clients h3{
    font-family: Cormorant Garamond;
    font-size: 20px;
    font-weight: 700;
    margin-bottom:20px;
    text-align: center;
}
.clients__print{
    display:block;
    flex-direction: row;
}
.clients__ul{
    list-style-type: none;
}

.clients__ul li{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    height:27px;
    margin-right: 50px;
    margin-left: 50px;
}

.clients__sprite,.clients__sprite-mobile{
    display:none;
}
 

/* section useful-articles*/
.useful-articles{
    padding:20px 10px 20px 10px;
    flex-direction: column;
}
.useful-articles__row{
    max-width:1110px;
    justify-content:center;
    margin-bottom:10px;
}
.useful-articles__row h2{
    font-family: Cormorant Garamond;
    font-size: 22px;
    font-weight: 700;
    text-align:center;
} 
.useful-articles__row div{
    display:none;
}
.useful-articles__container .useful-articles__inner:first-child{
    page-break-after: always;
}
.useful-articles__inner{
    max-width:500px;
    margin-right:30px;
    border-radius: 10px;
    page-break-inside: avoid;
}
.useful-articles__inner img{
    display:none;
}

.useful-articles__p1{
    font-family: Rubik;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    margin:10px 20px 5px 20px;
}
.useful-articles__p2{
    font-family: Rubik;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    margin:0 20px 10px 20px;
    max-width:500px;
    page-break-inside: avoid;
}
.useful-articles__p3{
    font-family: Rubik;
    font-size: 14px;
    font-weight: 300;
    line-height: 23px;
    text-align: justify;
    max-width:500px;
    margin:0 20px 10px 20px;
}

/* section NEWS*/
.news{
    padding:30px 10px 30px 10px;
    flex-direction: column;
}
.news__wrap{
    flex-direction: column;
}

.news__row{
    max-width:1110px;
    justify-content:center;
    margin-bottom:20px;
}
.news__row h2{
    font-family: Cormorant Garamond;
    font-size: 22px;
    font-weight: 700;
} 
.news__row div{
    display:none;
} 
.news__inner{
    width:540px;
    margin-right:30px;
    margin-bottom:20px;
    border:1px solid  #d6d1d1;
    border-radius:10px;
}
.news__inner__box{
    justify-content:space-between;
    min-height: 22px;
    margin:20px 20px 20px 10px;
}
.news__p1{
    font-family: Rubik;
    font-size: 12px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
}
.news__p2{
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    max-width:425px;
}
.news__p3{
    font-family: Rubik;
    font-size: 14px;
    font-weight: 300;
    line-height: 23px;
    text-align: left;
    max-width:500px;
    margin:0 20px 0 20px;
}
.news__p4{
    font-family: Rubik;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
    max-width:500px;
    margin:0 20px 0 20px;
}

/* section Subscription*/
.subscription{
    display:none;
}

